body {
  margin: 0;
  font-family: Arial;
}

/* PORTADA */
.portada {
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e40af);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* TARJETA */
.card {
  background: rgba(255,255,255,0.05);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

/* DASHBOARD */
.dashboard {
  background: #0f172a;
  color: white;
  height: 100vh;
  padding: 20px;
}

.panel {
  max-width: 600px;
  margin: auto;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MENU */
.menu {
  margin-top: 20px;
}

/* CONTENIDO */
.contenido {
  margin-top: 20px;
}

/* BOTONES */
.btn {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.verde {
  background: #22c55e;
}

.azul {
  background: #3b82f6;
}

.rojo {
  background: #ef4444;
}

.gris {
  background: #64748b;
}

/* MODALES */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e293b;
  padding: 20px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

/* OCULTO */
.oculto {
  display: none;
}